<!DOCTYPE HTML>
<html>
<head>
  {% include head.html %}
</head>
<body class="is-loading">
  <div id="wrapper" class="fade-in">
    <header id="header">
      <a href="{{ "/" | absolute_url }}" class="logo">Jessica Pham</a>
    </header>
    <nav id="nav">
      {% include nav.html %}
    </nav>
    <div id="main">
      <section class="post">
        <header class="major">
          <span class="date">{{ page.date | date_to_string }}</span>
          <h1>{{ page.title }}</h1>
          <p>{{ page.excerpt }}</p>
        </header>
        <div class="image main"><img src="{{ page.image }}" alt=""></div>
        <div class="content">
          {{ content }}
        </div>
      </section>
      <div class="comments-wrapper">
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            this.page.url = '{{ absolute_url }}{{ page.url }}';
            this.page.identifier = '{{ page.url }}';
          };
          (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div>
    </div>
    {% include foot.html %}
  </div>
  {% include scripts-main.html %}
  {% include tracking.html %}
</body>
</html>
