<!DOCTYPE HTML>
<html>
<head>
  {% include head.html %}
</head>
<body class="is-loading">
  <div id="wrapper" class="fade-in">
    <header id="header">
      <a href="{{ "/" | absolute_url }}" class="logo">Jessica Pham</a>
    </header>
    <nav id="nav">
      {% include nav.html %}
    </nav>
    <div id="main">
      <section class="post">
        <header class="major">
          <span class="date">{{ page.date | date_to_string }}</span>
          <h1>{{ page.title }}</h1>
          <p>{{ page.excerpt }}</p>
        </header>
        <div class="image main"><img src="{{ page.image }}" alt=""></div>
        <div class="content">
          {{ content }}
        </div>
      </section>
      <!-- Disqus comments section removed -->
      {% include foot.html %}
    </div>
    {% include scripts-main.html %}
    {% include tracking.html %}
  </div>
</body>
</html>
